.card-board-view .card-board-card-highlight-area.critical {
  background-color: red;
}

.card-board-view .card-board-card-highlight-area.important {
  background-color: orange;
}

.card-board-view .card-board-card-highlight-area.good {
  background-color: green;
}